# Arquivos e diretórios gerados pelo Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build/
dist/

# Arquivos gerados pelo Jar do Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Logs e relatórios
*.log
hs_err_pid*
replay_pid*
/biblioteca-desktop-app/target/surefire-reports/
/biblioteca-desktop-app/target/test-classes/

# Arquivos de IDE (IntelliJ, VS Code, Eclipse)
.idea/
.vscode/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache

# Arquivos de Pacote (JARs, etc.) - Evita commit de binários
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
